<div>
    <h2>Lista de Productos</h2>
    <h4>Bienvenido {{user.role}}</h4>
    <span>{{user.name}}</span>
    <span>{{user.email}}</span>
    {{#ifeq user.role "admin"}}
        <a href="/current">Administrar Productos</a>
    {{/ifeq}}
    {{#ifeq user.role "admin"}}
        <a href="/current">Administrar Usuarios</a>
    {{/ifeq}}
    {{#ifeq user.role "premium"}}
        <a href="/carts/">Ir al Carrito</a>
    {{/ifeq}}
    <a href="/logout">cerrar sesión</a>
</div>
<div>
    <p id="datos"></p>
</div>
<div>
    <h2>Ingresar Nuevo Producto</h2>
    <form action="" class="formulario" id="formulario-ingreso" >
        <input type="text" id="title" placeholder="Titulo" style="font-size: 20px;"><br>
        <input type="text" id="description" placeholder="Descripcion" style="font-size: 20px;"><br>
        <input type="text" id="code" placeholder="Codigo" style="font-size: 20px;"><br>
        <input type="number" id="price" placeholder="Precio" style="font-size: 20px;"><br>
        <input type="number" id="stock" placeholder="Stock" style="font-size: 20px;"><br>
        <input type="text" id="category" placeholder="Categoria" style="font-size: 20px;"><br>
        <input type="submit" id="enviar">  
    </form>
</div>
{{#ifeq user.role "admin"}}
<div>
    <h2>Eliminar producto</h2>
    <form action="" id="eliminar">
        <input type="text" id="ideliminar" placeholder="Ingresar ID">
        <input type="submit">
    </form>
</div>
<div>
    <h2>Actualizar Cantidad</h2>
    <form action="" id="actualizar">
        <input type="text" id = "idactualizar"placeholder="ID del Producto"><br>
        <input type="number" id="cantidad" placeholder="Cantidad"><br>
        <input type="submit">

    </form>
</div>
{{/ifeq}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>